* {
  border: none;
  font-family: "Fira Code", "Symbols Nerd Font Mono";
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
  background: transparent;
}

#custom-arch,
#workspaces {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  margin-right: 15px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
    margin-top: 100px;
}

#custom-arch {
  font-size: 20px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  margin-right: 15px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button {
  background: transparent;
  color: #ffffff;
}


#backlight,
#pulseaudio,
#bluetooth,
#network,
#backlight,
#pulseaudio,
#network {
  margin-right: 0;
      border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    margin-right: 15px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

#clock {
  margin-right: 0;
      border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    margin-right: 15px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
